.team-matches-bg-color {
  background-image: linear-gradient(to top, #1e293b, #5755a7, #a4261d, #d91c1f);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.team-matches-details-container {
  width: 80%;
  max-width: 900px;
}

.banner-image {
  width: 100%;
}
.team-matches-details-title {
  font-family: 'Bree Serif';
  color: white;
}
.match-cards-name-container {
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
